.main{
	display: flex;
	width: 100vw;
	height: 80vh;
	overflow: hidden;
}
.list{
	flex: 1 1 auto;
	position: relative;
}
.item-index{
	display: flex;
    width: 10px;
    justify-content: center;
    margin: auto;
    color: #FFFFFF;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
.item-container{
	background: #9E9E9E;
    display: flex;
    width: calc(100vw - 20px);
    height: 148px;
    flex-direction: row;
    margin: 1px;
    border-radius: 12px;
}
.item-image{
	height: 130px;
	width: 130px;
	margin: auto 10px auto 10px;
	background-size: 100% 100%;
	background-position: center center;
}
.item-info-container{
	margin: auto;
	text-align: center;
	width: 20vw;
}
.item-info-rank{
	display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: auto;
    font-size: 71px;
}