.main{
	display: flex;
	width: 100vw;
	height: 90vh;
	overflow: hidden;
	flex-direction: column;
}
.content-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #eee;
    /*background-size: cover;
    background-image: url("https://b-f18-zpg.zdn.vn/6244536075780440940/1985b6b035ded18088cf.jpg");
    background-position: center;*/
}
.list-control{
	height: 60px;	
	display: flex;
	flex-direction: row;
}
.btn-sort-delta{
	margin: 10px;
}
.list{
	flex: 1 1 auto;
	position: relative;
}
.item-index{
	display: flex;
    width: 40px;
    justify-content: center;
    margin: auto;
    color: #607D8B;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
.item-container{
	border: 1px solid #607D8B;;
    display: flex;
    width: calc(100vw - 20px);
    height: 148px;
    flex-direction: row;
    margin: 1px;
    border-radius: 12px;
}
.item-image{
	height: 130px;
	width: 130px;
	margin: auto 10px auto 10px;
	background-size: 100% 100%;
	background-position: center center;
}
.item-info-container{
	margin: auto;
	text-align: center;
	width: 20vw;
    cursor: pointer;
}
.item-info-rank{
	display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: auto;
    font-size: 71px;
    cursor: pointer;
}

.chart-container{
	display: flex;
    padding: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: calc(60% - 40px);
    height: calc(60% - 40px);
    align-items: center;
    margin: auto auto;
}
.button {    
    background-color: #607D8B;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.button.active{
	background-color: #4CAF50;
}

.modal-container{
	position: absolute;
    z-index: 9999;
    background: #FFFFFF;
    width: 100vw;
    border-radius: 10px;
    height: 100vh;
    top: 0;
    left: 0;
}
.modal-close-btn{
	display: block;
    text-align: center;
    justify-content: center;
    width: 47px;
    margin: auto;
    margin-top: 10px;
    color: #FFFFFF;
}